/* style.css */

html, body {
  height: 100%; 
}

#p5container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

#batata {
  position: absolute;
  overflow: hidden;
}